<div class="d-flex justify-content-between">
    <p class="m-1">&copy; 2022 - PizzaBool</p>
    <p  class="m-1">by <a href="https://www.flowcode.com/page/ilguarnieri" target="_blank">Angelo Guarnieri</a></p>
</div>